* {
  box-sizing: border-box;
  margin: 0 auto;
  color: #35017F;
  text-align: center;
}

#music_search {
  text-align: left;
  font-weight: bold;
  color: white;
}

img {
  max-width: 100%;
}

header h1 {
  font-family: 'Fugaz One', cursive;
  color: #35017F;
  font-size: 4vw;
  letter-spacing: 0.5vw;
  cursor: pointer;
}

pre {
  font-family: 'Fugaz One', cursive;
  font-size: 2.5vw;
  color: #35017F;
}

/* 배경 이미지 설정 */
html {
  background: url(./img/backgroundImg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

/* flex display */
.container {
  display: flex;
  flex-direction: column;
}

.mainDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 3%;
}

.viewDiv {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 3% 0%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.widgetDiv .widget-text {
  flex-basis: 25%;
}

.widget-text {
  padding: 0% 0% 3% 0%;
}

.widgetDiv .track {
  flex-basis: 25%;
}

.widgetDiv .trackArt {
  width: 10vw;
  height: 10vw;
}

.playerSection {
  padding-top: 2%;
}

.searchSection {
  flex-basis: 40%;
}

.search_form {
  width: 100%;
}

#search_button {
  display: none;
}

#music_search {
  width: 25vw;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.artist {
  cursor: pointer;
  flex-basis: 27%;
  margin-bottom: 5%;
}

.albumArt {
  width: 20vw;
  display: block;
  margin: auto;
  border-radius: 9%;
  box-shadow: 4px -6px 10px #888889;
}

.sort-bar {
  flex-basis: 100%;
  padding-bottom: 2%;
}

.track {
  cursor: pointer;
  flex-basis: 19%;
  margin: 2% 0%;
}

.trackArt {
  width: 14vw;
  height: 14vw;
  display: block;
  margin: auto;
  border-radius: 3%;
  box-shadow: 4px -6px 10px #888889;
}

.trackTitle {
  font-weight: bold;
}

.container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#music_search {
  width: 300px;
  height: 50px;
  background: #35017F;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: background .55s ease;
}

.container-1 .icon {
  position: absolute;
  left: 3%;
  margin-top: 9px;
  z-index: 1;
}

.container-1 input#music_search:hover, .container-1 input#music_search:focus, .container-1 input#music_search:active {
  outline: none;
  background: #ffffff;
}
